.idea
/dev/*.phar
/dev/schemas
/dev/vendor
/dev/composer.lock
/logs
/data/logs
/database/dareffort_content.sql
/conf/conf.local.ini
/vendor
/composer.json
/composer.lock
!/dev/sample_xmls/
phpdebug
setCodingStandardPaths
