<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./test/TestLib/bootstrap.php"
         colors="true">
    <testsuites>
		<testsuite name="All">
			<directory>test</directory>
		</testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./../sys</directory>
        </whitelist>
    </filter>
    <php>
        <env name="remoteCoverage" value="0"/>
    </php>
</phpunit>
