//@import '~bootstrap/scss/functions.scss';
//@import '~bootstrap/scss/mixins.scss';
//@import '~bootstrap/scss/variables.scss';

@import 'variables';
@import 'colors';

//@import "~bootstrap/scss/utilities/text";
//@import '~bootstrap/scss/root';
//@import "~bootstrap/scss/reboot";
//@import '~bootstrap/scss/card';
//@import '~bootstrap/scss/tables';
//@import '~bootstrap/scss/grid';
//@import '~bootstrap/scss/forms';
//@import '~bootstrap/scss/pagination';
//@import '~bootstrap/scss/buttons';
//@import '~bootstrap/scss/dropdown';
//@import '~bootstrap/scss/utilities/flex';
//@import '~bootstrap/scss/mixins/grid';
//@import '~bootstrap/scss/mixins/grid-framework';

@import '~bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'mixins';
@import 'layout';
@import 'login';
@import 'sidebar';
@import 'identity-dropdown';

dl.row {
	width: 100%;
}

.add-record-button {
	margin: 1em 0;
}

.dropdown {
	cursor: pointer;
}

header#siteHeader {
	background: $header-background-color;
	padding: .5em $content-padding-horizontal;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 1.3em;

	.header-title {
		display: none;
		@media(min-width: $sidebar-breakpoint) {
			display: block;
		}
	}

	a {
		color: inherit;

		&:hover, &:focus, &:active {
			color: $accent-color;
		}
	}
}

section#container {
	display: flex;
	flex: 1;
}

section#main-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;

	.main-content-wrapper {
		flex: 1;
		padding: 1em $content-padding-horizontal;
	}

	.card {
		padding: 1em;
	}

	footer {
		align-items: center;
		background-color: $white;
		border-top: 1px solid $gray69;
		box-shadow: 0 -4px 10px rgba(50, 50, 50, 0.25);
		display: flex;
		justify-content: space-between;
		padding: 0 1em;
		position: relative;
		z-index: 1;

		.logos {
			display: flex;
			padding-left: 1em;
			img {
				max-height: 60px;
			}
		}
	}
}

.messages {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin: 1em 0;
		width: 100%;
		padding: 1em;
		color: white;
		border-radius: $border-radius-sm;
	}

	&.message-error li {
		background-color: map_get($theme-colors, 'danger');
	}

	&.message-success li {
		background-color: map_get($theme-colors, 'success');
	}

	&.message-warning li {
		background-color: map_get($theme-colors, 'warning');
	}
}

.paginator {
	text-align: center;

	.pagination {
		display: inline-flex;
	}
}

#debug {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
	padding: 1em;
}


.card.showPage, .card.formPage {
	dd ul li {
		list-style-type: disc;
	}

	> div.actions {
		margin-left: auto;
	}
}

.card.showPage {
	dd {
		min-height: 1.5em;
	}
}

.filterForm {
	flex-flow: row wrap;
	justify-content: right;
	align-items: flex-end;

	& > .form-group {
		flex: 0 1 0;
	}

	.listFilter {
		input, label {
			flex: 1 0 100%;
		}
	}

	.filterSubmit {
		flex-flow: nowrap;
	}
}

.ss-main .ss-multi-selected .ss-values .ss-value {
	animation: none !important;
}