@use 'colors';
@use 'variables';

$sidebar-breakpoint: 45em;

aside#sidebar {
	background-color: colors.$sidebar-bg-color;
	padding: 0;
	color: colors.$gray221;
	font-weight: 600;
	box-shadow: 0 0 10px colors.$gray33;
	flex-basis: 300px;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 2;

	.sidebar-menu {
		padding: 0;

		& > li {
			border-bottom: 1px solid white;

			a {
				padding: .8em variables.$content-padding-horizontal;
			}
		}

		li {
			a {
				padding: .5em 1.5em .5em variables.$content-padding-horizontal;
				transition: background-color .2s;

				&.selected, &:hover, &:active, &:focus {
					background-color: rgba(0, 0, 0, 0.3);
					color: white;

					i {
						color: colors.$accent-color;
					}
				}
			}

			&.sub-menu {
				cursor: pointer;

				ul {
					padding-left: 0;
					display: none;

					a {
						padding-left: 2em;
					}

					&.show {
						display: block;
					}
				}
			}
		}

		a {
			color: inherit;
			display: block;

			i {
				width: 1.3em;
				text-align: center;
				margin-right: .8em;
			}
		}
	}

	.version {
		text-align: center;
		p {
			font-size: 0.8em;
		}
	}
}

aside#sidebar {
	display: none;

	&.active {
		display: flex;
	}
}

@media(min-width: $sidebar-breakpoint) {
	#sidebarToggle {
		display: none;
	}
	aside#sidebar {
		display: flex;
	}
}